<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>=</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>=</string>
	</dict>
	<key>`</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>`</string>
	</dict>
	<key>±</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>±</string>
	</dict>
	<key>¥</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>¥</string>
	</dict>
	<key>≠</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>≠</string>
	</dict>
	<key>…</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>…</string>
	</dict>
	<key>§</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>§</string>
	</dict>
	<key>+</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>+</string>
	</dict>
	<key>*</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>*</string>
	</dict>
	<key>^</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>^</string>
	</dict>
	<key>%</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>%</string>
	</dict>
	<key>#</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>#</string>
	</dict>
	<key>}</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>}</string>
	</dict>
	<key>{</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>{</string>
	</dict>
	<key>]</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>]</string>
	</dict>
	<key>[</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>[</string>
	</dict>
	<key>SwitchToSymbols</key>
	<dict>
		<key>type</key>
		<string>SwitchToSymbols</string>
		<key>label</key>
		<string>#+=</string>
	</dict>
	<key>SwitchToSymbols2</key>
	<dict>
		<key>type</key>
		<string>SwitchToSymbols</string>
		<key>label</key>
		<string>#+=</string>
	</dict>
	<key>SwitchToNumbers</key>
	<dict>
		<key>type</key>
		<string>SwitchToNumbers</string>
		<key>label</key>
		<string>123</string>
	</dict>
	<key>SwitchToNumbers2</key>
	<dict>
		<key>type</key>
		<string>SwitchToNumbers</string>
		<key>label</key>
		<string>123</string>
	</dict>
	<key>_</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>_</string>
	</dict>
	<key>—</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>—</string>
	</dict>
	<key>\</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>\</string>
	</dict>
	<key>|</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>|</string>
	</dict>
	<key>~</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>~</string>
	</dict>
	<key>&lt;</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>&lt;</string>
	</dict>
	<key>&gt;</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>&gt;</string>
	</dict>
	<key>$</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<key>€</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>€</string>
	</dict>
	<key>£</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<key>•</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>•</string>
	</dict>
	<key>SwitchToLowercase</key>
	<dict>
		<key>type</key>
		<string>SwitchToLowercase</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>SwitchToLowercase2</key>
	<dict>
		<key>type</key>
		<string>SwitchToLowercase</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>type</key>
		<string>SwitchToUppercase</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>SwitchToUppercase2</key>
	<dict>
		<key>type</key>
		<string>SwitchToUppercase</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>type</key>
		<string>KeyboardSelection</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>Space</key>
	<dict>
		<key>type</key>
		<string>Space</string>
		<key>label</key>
		<string>Пробел</string>
	</dict>
	<key>ZeroWidthNonJoiner</key>
	<dict>
		<key>type</key>
		<string>ZeroWidthNonJoiner</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>type</key>
		<string>Backspace</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>Return</key>
	<dict>
		<key>type</key>
		<string>Return</string>
		<key>label</key>
		<string>Ввод</string>
	</dict>
	<key>Number</key>
	<dict>
		<key>type</key>
		<string>SwitchToSecondaryMode</string>
		<key>label</key>
		<string>123</string>
	</dict>
	<key>Number2</key>
	<dict>
		<key>type</key>
		<string>SwitchToSecondaryMode</string>
		<key>label</key>
		<string>123</string>
	</dict>
	<key>Letter</key>
	<dict>
		<key>type</key>
		<string>SwitchToPrimaryMode</string>
		<key>label</key>
		<string>АБВ</string>
	</dict>
	<key>Letter2</key>
	<dict>
		<key>type</key>
		<string>SwitchToPrimaryMode</string>
		<key>label</key>
		<string>АБВ</string>
	</dict>
	<key>DismissKeyboard</key>
	<dict>
		<key>type</key>
		<string>DismissKeyboard</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>type</key>
		<string>Settings</string>
		<key>label</key>
		<string></string>
	</dict>
	<key>а</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>а</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>б</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>б</string>
		<key>neighbors</key>
		<array>
			<string>ا</string>
			<string>پ</string>
			<string>د</string>
			<string>ڈ</string>
			<string>ذ</string>
		</array>
	</dict>
	<key>в</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>в</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>ت</string>
			<string>ڈ</string>
			<string>ذ</string>
			<string>ر</string>
		</array>
	</dict>
	<key>г</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>г</string>
		<key>neighbors</key>
		<array>
			<string>پ</string>
			<string>ٹ</string>
			<string>ذ</string>
			<string>ر</string>
			<string>ڑ</string>
		</array>
	</dict>
	<key>д</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>д</string>
		<key>neighbors</key>
		<array>
			<string>ت</string>
			<string>ث</string>
			<string>ر</string>
			<string>ڑ</string>
			<string>ز</string>
		</array>
	</dict>
	<key>е</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>е</string>
		<key>neighbors</key>
		<array>
			<string>а</string>
			<string>б</string>
		</array>
	</dict>
	<key>ж</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ж</string>
		<key>neighbors</key>
		<array>
			<string>ث</string>
			<string>چ</string>
			<string>ز</string>
			<string>ژ</string>
			<string>س</string>
		</array>
	</dict>
	<key>з</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>з</string>
		<key>neighbors</key>
		<array>
			<string>ج</string>
			<string>ح</string>
			<string>ژ</string>
			<string>س</string>
			<string>ش</string>
		</array>
	</dict>
	<key>и</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>и</string>
		<key>neighbors</key>
		<array>
			<string>چ</string>
			<string>خ</string>
			<string>س</string>
			<string>ش</string>
			<string>ص</string>
		</array>
	</dict>
	<key>й</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>й</string>
		<key>neighbors</key>
		<array>
			<string>ح</string>
			<string>ش</string>
			<string>ص</string>
		</array>
	</dict>
	<key>к</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>к</string>
		<key>neighbors</key>
		<array>
			<string>ا</string>
			<string>ب</string>
			<string>ڈ</string>
			<string>ض</string>
			<string>ط</string>
		</array>
	</dict>
	<key>л</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>л</string>
		<key>neighbors</key>
		<array>
			<string>ا</string>
			<string>ب</string>
			<string>پ</string>
			<string>د</string>
			<string>ذ</string>
			<string>ض</string>
			<string>ط</string>
			<string>ظ</string>
		</array>
	</dict>
	<key>м</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>м</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>پ</string>
			<string>ت</string>
			<string>ڈ</string>
			<string>ر</string>
			<string>ط</string>
			<string>ظ</string>
			<string>ع</string>
		</array>
	</dict>
	<key>н</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>н</string>
		<key>neighbors</key>
		<array>
			<string>پ</string>
			<string>ت</string>
			<string>ٹ</string>
			<string>ذ</string>
			<string>ڑ</string>
			<string>ظ</string>
			<string>ع</string>
			<string>غ</string>
		</array>
	</dict>
	<key>о</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>о</string>
		<key>neighbors</key>
		<array>
			<string>ت</string>
			<string>ٹ</string>
			<string>ث</string>
			<string>ر</string>
			<string>ز</string>
			<string>ع</string>
			<string>غ</string>
			<string>ف</string>
		</array>
	</dict>
	<key>п</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>п</string>
		<key>neighbors</key>
		<array>
			<string>ٹ</string>
			<string>ث</string>
			<string>ج</string>
			<string>ڑ</string>
			<string>ژ</string>
			<string>غ</string>
			<string>ف</string>
			<string>ق</string>
		</array>
	</dict>
	<key>р</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>р</string>
		<key>neighbors</key>
		<array>
			<string>ث</string>
			<string>ج</string>
			<string>چ</string>
			<string>ز</string>
			<string>س</string>
			<string>ف</string>
			<string>ق</string>
			<string>ک</string>
		</array>
	</dict>
	<key>с</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>с</string>
		<key>neighbors</key>
		<array>
			<string>ج</string>
			<string>چ</string>
			<string>ح</string>
			<string>ژ</string>
			<string>ش</string>
			<string>ق</string>
			<string>ک</string>
			<string>گ</string>
		</array>
	</dict>
	<key>т</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>т</string>
		<key>neighbors</key>
		<array>
			<string>چ</string>
			<string>ح</string>
			<string>خ</string>
			<string>س</string>
			<string>ص</string>
			<string>ک</string>
			<string>گ</string>
			<string>ل</string>
		</array>
	</dict>
	<key>у</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>у</string>
		<key>neighbors</key>
		<array>
			<string>ح</string>
			<string>خ</string>
			<string>ش</string>
			<string>گ</string>
			<string>ل</string>
		</array>
	</dict>
	<key>ф</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ф</string>
		<key>neighbors</key>
		<array>
			<string>د</string>
			<string>ڈ</string>
			<string>ط</string>
			<string>م</string>
			<string>ن</string>
		</array>
	</dict>
	<key>х</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>х</string>
		<key>neighbors</key>
		<array>
			<string>د</string>
			<string>ڈ</string>
			<string>ذ</string>
			<string>ض</string>
			<string>ظ</string>
			<string>م</string>
			<string>ن</string>
			<string>ں</string>
		</array>
	</dict>
	<key>ц</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ц</string>
		<key>neighbors</key>
		<array>
			<string>ڈ</string>
			<string>ذ</string>
			<string>ر</string>
			<string>ط</string>
			<string>ع</string>
			<string>ن</string>
			<string>ں</string>
			<string>و</string>
		</array>
	</dict>
	<key>ч</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ч</string>
		<key>neighbors</key>
		<array>
			<string>ذ</string>
			<string>ر</string>
			<string>ڑ</string>
			<string>ظ</string>
			<string>غ</string>
			<string>ں</string>
			<string>و</string>
			<string>ہ</string>
		</array>
	</dict>
	<key>ш</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ш</string>
		<key>neighbors</key>
		<array>
			<string>ر</string>
			<string>ڑ</string>
			<string>ز</string>
			<string>ع</string>
			<string>ف</string>
			<string>و</string>
			<string>ہ</string>
			<string>ھ</string>
		</array>
	</dict>
	<key>щ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>щ</string>
		<key>neighbors</key>
		<array>
			<string>ڑ</string>
			<string>ز</string>
			<string>ژ</string>
			<string>غ</string>
			<string>ق</string>
			<string>ہ</string>
			<string>ھ</string>
			<string>ء</string>
		</array>
	</dict>
	<key>ъ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ъ</string>
		<key>neighbors</key>
		<array>
			<string>ز</string>
			<string>ژ</string>
			<string>س</string>
			<string>ف</string>
			<string>ک</string>
			<string>ھ</string>
			<string>ء</string>
			<string>ی</string>
		</array>
	</dict>
	<key>ы</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ы</string>
		<key>neighbors</key>
		<array>
			<string>ژ</string>
			<string>س</string>
			<string>ش</string>
			<string>ق</string>
			<string>گ</string>
			<string>ء</string>
			<string>ی</string>
			<string>ے</string>
		</array>
	</dict>
	<key>ь</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ь</string>
		<key>neighbors</key>
		<array>
			<string>س</string>
			<string>ش</string>
			<string>ص</string>
			<string>ک</string>
			<string>ل</string>
			<string>ی</string>
			<string>ے</string>
		</array>
	</dict>
	<key>э</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>э</string>
		<key>neighbors</key>
		<array>
			<string>ش</string>
			<string>ص</string>
			<string>گ</string>
			<string>ے</string>
		</array>
	</dict>
	<key>ю</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ю</string>
		<key>neighbors</key>
		<array>
			<string>ض</string>
			<string>ط</string>
			<string>ظ</string>
			<string>ن</string>
		</array>
	</dict>
	<key>я</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>я</string>
		<key>neighbors</key>
		<array>
			<string>ض</string>
			<string>ط</string>
			<string>ظ</string>
			<string>م</string>
			<string>ں</string>
		</array>
	</dict>
	<key>ө</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ө</string>
		<key>neighbors</key>
		<array>
			<string>ط</string>
			<string>ظ</string>
			<string>ع</string>
			<string>ن</string>
			<string>و</string>
		</array>
	</dict>
	<key>һ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>һ</string>
		<key>neighbors</key>
		<array>
			<string>ظ</string>
			<string>ع</string>
			<string>غ</string>
			<string>ں</string>
			<string>ہ</string>
		</array>
	</dict>
	<key>ү</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>ү</string>
		<key>neighbors</key>
		<array>
			<string>ع</string>
			<string>غ</string>
			<string>ف</string>
			<string>و</string>
			<string>ھ</string>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>1</string>
		<key>neighbors</key>
		<array>
			<string>غ</string>
			<string>ف</string>
			<string>ق</string>
			<string>ہ</string>
			<string>ء</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>2</string>
		<key>neighbors</key>
		<array>
			<string>ف</string>
			<string>ق</string>
			<string>ک</string>
			<string>ھ</string>
			<string>ی</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>3</string>
		<key>neighbors</key>
		<array>
			<string>ق</string>
			<string>ک</string>
			<string>گ</string>
			<string>ء</string>
			<string>ے</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>4</string>
		<key>neighbors</key>
		<array>
			<string>ک</string>
			<string>گ</string>
			<string>ل</string>
			<string>ی</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>6</string>
	</dict>
	<key>7</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>7</string>
	</dict>
	<key>8</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>8</string>
	</dict>
	<key>9</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>9</string>
	</dict>
	<key>0</key>
	<dict>
		<key>type</key>
		<string>Number</string>
		<key>label</key>
		<string>0</string>
	</dict>
	<key>&quot;</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>&quot;</string>
	</dict>
	<key>”</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>”</string>
	</dict>
	<key>´</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>´</string>
	</dict>
	<key>№</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>№</string>
	</dict>
	<key>@</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>@</string>
	</dict>
	<key>&amp;</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>&amp;</string>
	</dict>
	<key>₽</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>₽</string>
	</dict>
	<key>)</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>)</string>
	</dict>
	<key>(</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>(</string>
	</dict>
	<key>;</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>;</string>
	</dict>
	<key>:</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>:</string>
	</dict>
	<key>/</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>/</string>
	</dict>
	<key>-</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>-</string>
	</dict>
	<key>‘</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>‘</string>
	</dict>
	<key>!</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>!</string>
	</dict>
	<key>?</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>?</string>
	</dict>
	<key>,</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>,</string>
	</dict>
	<key>.</key>
	<dict>
		<key>type</key>
		<string>Punctuation</string>
		<key>label</key>
		<string>.</string>
	</dict>
	<key>А</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>А</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Б</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Б</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>В</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>В</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Г</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Г</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Д</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Д</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Е</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Е</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ж</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ж</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>З</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>З</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>И</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>И</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Й</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Й</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>К</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>К</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Л</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Л</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>М</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>М</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Н</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Н</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>О</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>О</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>П</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>П</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Р</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Р</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>С</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>С</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Т</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Т</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>У</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>У</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ф</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ф</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Х</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Х</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ц</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ц</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ч</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ч</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ш</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ш</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Щ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Щ</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ъ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ъ</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ы</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ы</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ь</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ь</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Э</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Э</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ю</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ю</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Я</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Я</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ө</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ө</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Һ</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Һ</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
	<key>Ү</key>
	<dict>
		<key>type</key>
		<string>Letter</string>
		<key>label</key>
		<string>Ү</string>
		<key>neighbors</key>
		<array>
			<string>ب</string>
			<string>د</string>
			<string>ڈ</string>
		</array>
	</dict>
</dict>
</plist>
