<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ө</key>
	<dict>
		<key>x</key>
		<real>657.5</real>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ү</key>
	<dict>
		<key>x</key>
		<integer>380</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Һ</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>61</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>176</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>61.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>452.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number2</key>
	<dict>
		<key>x</key>
		<integer>715</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>209</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>828.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Х</key>
	<dict>
		<key>x</key>
		<real>762.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>З</key>
	<dict>
		<key>x</key>
		<real>696.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Щ</key>
	<dict>
		<key>x</key>
		<real>630.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ш</key>
	<dict>
		<key>x</key>
		<real>564.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Г</key>
	<dict>
		<key>x</key>
		<real>498.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Н</key>
	<dict>
		<key>x</key>
		<real>432.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Е</key>
	<dict>
		<key>x</key>
		<real>366.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>К</key>
	<dict>
		<key>x</key>
		<real>300.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>У</key>
	<dict>
		<key>x</key>
		<real>234.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ц</key>
	<dict>
		<key>x</key>
		<real>168.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Й</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>846.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<integer>74</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Э</key>
	<dict>
		<key>x</key>
		<real>780.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ж</key>
	<dict>
		<key>x</key>
		<real>714.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Д</key>
	<dict>
		<key>x</key>
		<real>648.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Л</key>
	<dict>
		<key>x</key>
		<real>582.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>О</key>
	<dict>
		<key>x</key>
		<real>516.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Р</key>
	<dict>
		<key>x</key>
		<real>450.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>П</key>
	<dict>
		<key>x</key>
		<real>384.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>А</key>
	<dict>
		<key>x</key>
		<real>318.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>В</key>
	<dict>
		<key>x</key>
		<real>252.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ы</key>
	<dict>
		<key>x</key>
		<real>186.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ф</key>
	<dict>
		<key>x</key>
		<real>120.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToLowercase2</key>
	<dict>
		<key>x</key>
		<real>828.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ъ</key>
	<dict>
		<key>x</key>
		<real>762.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ю</key>
	<dict>
		<key>x</key>
		<real>696.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Б</key>
	<dict>
		<key>x</key>
		<real>630.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ь</key>
	<dict>
		<key>x</key>
		<real>564.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Т</key>
	<dict>
		<key>x</key>
		<real>498.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>И</key>
	<dict>
		<key>x</key>
		<real>432.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>М</key>
	<dict>
		<key>x</key>
		<real>366.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>С</key>
	<dict>
		<key>x</key>
		<real>300.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ч</key>
	<dict>
		<key>x</key>
		<real>234.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Я</key>
	<dict>
		<key>x</key>
		<real>168.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToLowercase</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
</dict>
</plist>
