<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>61</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>176</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>61.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>452.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Letter2</key>
	<dict>
		<key>x</key>
		<integer>715</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>209</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>828.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>—</key>
	<dict>
		<key>x</key>
		<real>762.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>0</key>
	<dict>
		<key>x</key>
		<real>696.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>x</key>
		<real>630.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>x</key>
		<real>564.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<real>498.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<real>432.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<real>366.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>x</key>
		<real>300.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<real>234.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<real>168.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>846.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<integer>74</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>}</key>
	<dict>
		<key>x</key>
		<real>780.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>{</key>
	<dict>
		<key>x</key>
		<real>714.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>]</key>
	<dict>
		<key>x</key>
		<real>648.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>[</key>
	<dict>
		<key>x</key>
		<real>582.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>^</key>
	<dict>
		<key>x</key>
		<real>516.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>`</key>
	<dict>
		<key>x</key>
		<real>450.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>•</key>
	<dict>
		<key>x</key>
		<real>384.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>±</key>
	<dict>
		<key>x</key>
		<real>318.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>¥</key>
	<dict>
		<key>x</key>
		<real>252.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>£</key>
	<dict>
		<key>x</key>
		<real>186.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>€</key>
	<dict>
		<key>x</key>
		<real>120.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToNumbers2</key>
	<dict>
		<key>x</key>
		<real>828.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>?</key>
	<dict>
		<key>x</key>
		<real>762.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<real>696.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>&gt;</key>
	<dict>
		<key>x</key>
		<real>630.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>&lt;</key>
	<dict>
		<key>x</key>
		<real>564.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<real>498.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>≠</key>
	<dict>
		<key>x</key>
		<real>432.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>…</key>
	<dict>
		<key>x</key>
		<real>366.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>~</key>
	<dict>
		<key>x</key>
		<real>300.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>|</key>
	<dict>
		<key>x</key>
		<real>234.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>§</key>
	<dict>
		<key>x</key>
		<real>168.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToNumbers</key>
	<dict>
		<key>x</key>
		<real>102.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
</dict>
</plist>
