<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primary-height</key>
	<integer>440</integer>
	<key>pop-up-height-hang</key>
	<integer>0</integer>
	<key>suggestions</key>
	<dict>
		<key>x</key>
		<integer>383</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>width</key>
		<integer>600</integer>
		<key>height</key>
		<integer>60</integer>
		<key>margin-top</key>
		<integer>10</integer>
		<key>margin-side</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
