<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ө</key>
	<dict>
		<key>x</key>
		<integer>561</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ү</key>
	<dict>
		<key>x</key>
		<real>283.5</real>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>һ</key>
	<dict>
		<key>x</key>
		<real>6.5</real>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>265</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<real>6.5</real>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>61</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>61.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>154</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<real>452.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number2</key>
	<dict>
		<key>x</key>
		<integer>619</integer>
		<key>y</key>
		<integer>260</integer>
		<key>width</key>
		<integer>209</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<real>732.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>х</key>
	<dict>
		<key>x</key>
		<real>666.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>з</key>
	<dict>
		<key>x</key>
		<real>600.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>щ</key>
	<dict>
		<key>x</key>
		<real>534.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ш</key>
	<dict>
		<key>x</key>
		<real>468.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>г</key>
	<dict>
		<key>x</key>
		<real>402.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>н</key>
	<dict>
		<key>x</key>
		<real>336.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>е</key>
	<dict>
		<key>x</key>
		<real>270.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>к</key>
	<dict>
		<key>x</key>
		<real>204.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>у</key>
	<dict>
		<key>x</key>
		<real>138.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ц</key>
	<dict>
		<key>x</key>
		<real>72.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>й</key>
	<dict>
		<key>x</key>
		<real>6.5</real>
		<key>y</key>
		<integer>65</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<real>750.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<integer>74</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>э</key>
	<dict>
		<key>x</key>
		<real>684.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ж</key>
	<dict>
		<key>x</key>
		<real>618.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>д</key>
	<dict>
		<key>x</key>
		<real>552.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>л</key>
	<dict>
		<key>x</key>
		<real>486.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>о</key>
	<dict>
		<key>x</key>
		<real>420.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>р</key>
	<dict>
		<key>x</key>
		<real>354.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>п</key>
	<dict>
		<key>x</key>
		<real>288.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>а</key>
	<dict>
		<key>x</key>
		<real>222.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>в</key>
	<dict>
		<key>x</key>
		<real>156.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ы</key>
	<dict>
		<key>x</key>
		<real>90.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ф</key>
	<dict>
		<key>x</key>
		<real>24.5</real>
		<key>y</key>
		<integer>130</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToUppercase2</key>
	<dict>
		<key>x</key>
		<real>732.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>92.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ъ</key>
	<dict>
		<key>x</key>
		<real>666.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ю</key>
	<dict>
		<key>x</key>
		<real>600.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>б</key>
	<dict>
		<key>x</key>
		<real>534.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ь</key>
	<dict>
		<key>x</key>
		<real>468.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>т</key>
	<dict>
		<key>x</key>
		<real>402.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>и</key>
	<dict>
		<key>x</key>
		<real>336.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>м</key>
	<dict>
		<key>x</key>
		<real>270.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>с</key>
	<dict>
		<key>x</key>
		<real>204.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ч</key>
	<dict>
		<key>x</key>
		<real>138.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>я</key>
	<dict>
		<key>x</key>
		<real>72.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<real>6.5</real>
		<key>y</key>
		<integer>195</integer>
		<key>width</key>
		<real>53.5</real>
		<key>height</key>
		<integer>57</integer>
	</dict>
</dict>
</plist>
