<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ө</key>
	<dict>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>6</integer>
		<key>width</key>
		<integer>190</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ү</key>
	<dict>
		<key>x</key>
		<integer>272</integer>
		<key>y</key>
		<integer>6</integer>
		<key>width</key>
		<integer>190</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Һ</key>
	<dict>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>6</integer>
		<key>width</key>
		<integer>190</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>166</integer>
		<key>width</key>
		<integer>69</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>166</integer>
		<key>width</key>
		<integer>69</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>226</integer>
		<key>y</key>
		<integer>166</integer>
		<key>width</key>
		<integer>284</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>516</integer>
		<key>y</key>
		<integer>166</integer>
		<key>width</key>
		<integer>144</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Х</key>
	<dict>
		<key>x</key>
		<integer>612</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>З</key>
	<dict>
		<key>x</key>
		<integer>559</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Щ</key>
	<dict>
		<key>x</key>
		<integer>505</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ш</key>
	<dict>
		<key>x</key>
		<integer>452</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Г</key>
	<dict>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Н</key>
	<dict>
		<key>x</key>
		<integer>344</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Е</key>
	<dict>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>К</key>
	<dict>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>У</key>
	<dict>
		<key>x</key>
		<integer>183</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ц</key>
	<dict>
		<key>x</key>
		<integer>130</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Й</key>
	<dict>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>46</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Э</key>
	<dict>
		<key>x</key>
		<integer>612</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ж</key>
	<dict>
		<key>x</key>
		<integer>559</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Д</key>
	<dict>
		<key>x</key>
		<integer>505</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Л</key>
	<dict>
		<key>x</key>
		<integer>452</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>О</key>
	<dict>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Р</key>
	<dict>
		<key>x</key>
		<integer>344</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>П</key>
	<dict>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>А</key>
	<dict>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>В</key>
	<dict>
		<key>x</key>
		<integer>183</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ы</key>
	<dict>
		<key>x</key>
		<integer>130</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ф</key>
	<dict>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ю</key>
	<dict>
		<key>x</key>
		<integer>559</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Б</key>
	<dict>
		<key>x</key>
		<integer>505</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ь</key>
	<dict>
		<key>x</key>
		<integer>452</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Т</key>
	<dict>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>И</key>
	<dict>
		<key>x</key>
		<integer>344</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>М</key>
	<dict>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>С</key>
	<dict>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Ч</key>
	<dict>
		<key>x</key>
		<integer>183</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Я</key>
	<dict>
		<key>x</key>
		<integer>130</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>612</integer>
		<key>y</key>
		<integer>126</integer>
		<key>width</key>
		<integer>48</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
</dict>
</plist>
