<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ө</key>
	<dict>
		<key>x</key>
		<integer>381</integer>
		<key>y</key>
		<integer>8</integer>
		<key>width</key>
		<integer>184</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ү</key>
	<dict>
		<key>x</key>
		<integer>192</integer>
		<key>y</key>
		<integer>8</integer>
		<key>width</key>
		<integer>184</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>һ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>8</integer>
		<key>width</key>
		<integer>184</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<real>3</real>
		<key>y</key>
		<integer>168</integer>
		<key>width</key>
		<integer>50</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>60</integer>
		<key>y</key>
		<integer>168</integer>
		<key>width</key>
		<integer>50</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>117</integer>
		<key>y</key>
		<integer>168</integer>
		<key>width</key>
		<integer>334</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>458</integer>
		<key>y</key>
		<integer>168</integer>
		<key>width</key>
		<integer>107</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>х</key>
	<dict>
		<key>x</key>
		<integer>519</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>з</key>
	<dict>
		<key>x</key>
		<integer>467</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>щ</key>
	<dict>
		<key>x</key>
		<integer>415</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ш</key>
	<dict>
		<key>x</key>
		<integer>364</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>г</key>
	<dict>
		<key>x</key>
		<integer>312</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>н</key>
	<dict>
		<key>x</key>
		<integer>261</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>е</key>
	<dict>
		<key>x</key>
		<integer>209</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>к</key>
	<dict>
		<key>x</key>
		<integer>157</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>у</key>
	<dict>
		<key>x</key>
		<integer>106</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ц</key>
	<dict>
		<key>x</key>
		<integer>54</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>й</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>э</key>
	<dict>
		<key>x</key>
		<integer>519</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ж</key>
	<dict>
		<key>x</key>
		<integer>467</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>д</key>
	<dict>
		<key>x</key>
		<integer>415</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>л</key>
	<dict>
		<key>x</key>
		<integer>364</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>о</key>
	<dict>
		<key>x</key>
		<integer>312</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>р</key>
	<dict>
		<key>x</key>
		<integer>261</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>п</key>
	<dict>
		<key>x</key>
		<integer>209</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>а</key>
	<dict>
		<key>x</key>
		<integer>157</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>в</key>
	<dict>
		<key>x</key>
		<integer>106</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ы</key>
	<dict>
		<key>x</key>
		<integer>54</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ф</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>88</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ю</key>
	<dict>
		<key>x</key>
		<integer>467</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>б</key>
	<dict>
		<key>x</key>
		<integer>415</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ь</key>
	<dict>
		<key>x</key>
		<integer>364</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>т</key>
	<dict>
		<key>x</key>
		<integer>312</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>и</key>
	<dict>
		<key>x</key>
		<integer>261</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>м</key>
	<dict>
		<key>x</key>
		<integer>209</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>с</key>
	<dict>
		<key>x</key>
		<integer>157</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>ч</key>
	<dict>
		<key>x</key>
		<integer>106</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>я</key>
	<dict>
		<key>x</key>
		<integer>54</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>47</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>519</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
</dict>
</plist>
