<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>224</integer>
		<key>width</key>
		<integer>34</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>43</integer>
		<key>y</key>
		<integer>224</integer>
		<key>width</key>
		<integer>34</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>224</integer>
		<key>width</key>
		<integer>154</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>243</integer>
		<key>y</key>
		<integer>224</integer>
		<key>width</key>
		<integer>74</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>281</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>36</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>SwitchToNumbers</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>36</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<integer>291</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<integer>259</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<integer>227</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>^</key>
	<dict>
		<key>x</key>
		<integer>195</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<integer>163</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<integer>131</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>}</key>
	<dict>
		<key>x</key>
		<integer>99</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>{</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>]</key>
	<dict>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>[</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>62</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>•</key>
	<dict>
		<key>x</key>
		<integer>291</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>£</key>
	<dict>
		<key>x</key>
		<integer>259</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>€</key>
	<dict>
		<key>x</key>
		<integer>227</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>$</key>
	<dict>
		<key>x</key>
		<integer>195</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>&gt;</key>
	<dict>
		<key>x</key>
		<integer>163</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>&lt;</key>
	<dict>
		<key>x</key>
		<integer>131</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>~</key>
	<dict>
		<key>x</key>
		<integer>99</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>|</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>26</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>‘</key>
	<dict>
		<key>x</key>
		<integer>230</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>39</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<integer>185</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>?</key>
	<dict>
		<key>x</key>
		<integer>140</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>,</key>
	<dict>
		<key>x</key>
		<integer>95</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<integer>51</integer>
		<key>y</key>
		<integer>170</integer>
		<key>width</key>
		<integer>39</integer>
		<key>height</key>
		<integer>38</integer>
	</dict>
</dict>
</plist>
