<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ө</key>
	<dict>
		<key>x</key>
		<integer>518</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ү</key>
	<dict>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Һ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>56</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>74</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>56</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>142</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>416</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number2</key>
	<dict>
		<key>x</key>
		<integer>570</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>192</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>677</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>85</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Х</key>
	<dict>
		<key>x</key>
		<integer>616</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>З</key>
	<dict>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Щ</key>
	<dict>
		<key>x</key>
		<integer>494</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ш</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Г</key>
	<dict>
		<key>x</key>
		<integer>372</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Н</key>
	<dict>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Е</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>К</key>
	<dict>
		<key>x</key>
		<integer>189</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>У</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ц</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Й</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>694</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>68</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Э</key>
	<dict>
		<key>x</key>
		<integer>633</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ж</key>
	<dict>
		<key>x</key>
		<integer>572</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Д</key>
	<dict>
		<key>x</key>
		<integer>511</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Л</key>
	<dict>
		<key>x</key>
		<integer>450</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>О</key>
	<dict>
		<key>x</key>
		<integer>389</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Р</key>
	<dict>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>П</key>
	<dict>
		<key>x</key>
		<integer>267</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>А</key>
	<dict>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>В</key>
	<dict>
		<key>x</key>
		<integer>145</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ы</key>
	<dict>
		<key>x</key>
		<integer>84</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ф</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToLowercase2</key>
	<dict>
		<key>x</key>
		<integer>677</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>85</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ъ</key>
	<dict>
		<key>x</key>
		<integer>616</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ю</key>
	<dict>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Б</key>
	<dict>
		<key>x</key>
		<integer>494</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ь</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Т</key>
	<dict>
		<key>x</key>
		<integer>372</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>И</key>
	<dict>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>М</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>С</key>
	<dict>
		<key>x</key>
		<integer>189</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Ч</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Я</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToLowercase</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
</dict>
</plist>
