<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ө</key>
	<dict>
		<key>x</key>
		<integer>689</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>327</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ү</key>
	<dict>
		<key>x</key>
		<integer>348</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>327</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>һ</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>327</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>344</integer>
		<key>width</key>
		<integer>76</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>97</integer>
		<key>y</key>
		<integer>344</integer>
		<key>width</key>
		<integer>77</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>188</integer>
		<key>y</key>
		<integer>344</integer>
		<key>width</key>
		<integer>557</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>Number2</key>
	<dict>
		<key>x</key>
		<integer>759</integer>
		<key>y</key>
		<integer>344</integer>
		<key>width</key>
		<integer>258</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>898</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>х</key>
	<dict>
		<key>x</key>
		<integer>817</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>з</key>
	<dict>
		<key>x</key>
		<integer>736</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>щ</key>
	<dict>
		<key>x</key>
		<integer>655</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ш</key>
	<dict>
		<key>x</key>
		<integer>574</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>г</key>
	<dict>
		<key>x</key>
		<integer>493</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>н</key>
	<dict>
		<key>x</key>
		<integer>412</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>е</key>
	<dict>
		<key>x</key>
		<integer>331</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>к</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>у</key>
	<dict>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ц</key>
	<dict>
		<key>x</key>
		<integer>88</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>й</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>86</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>921</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>э</key>
	<dict>
		<key>x</key>
		<integer>840</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ж</key>
	<dict>
		<key>x</key>
		<integer>759</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>д</key>
	<dict>
		<key>x</key>
		<integer>678</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>л</key>
	<dict>
		<key>x</key>
		<integer>597</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>о</key>
	<dict>
		<key>x</key>
		<integer>516</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>р</key>
	<dict>
		<key>x</key>
		<integer>435</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>п</key>
	<dict>
		<key>x</key>
		<integer>354</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>а</key>
	<dict>
		<key>x</key>
		<integer>273</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>в</key>
	<dict>
		<key>x</key>
		<integer>192</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ы</key>
	<dict>
		<key>x</key>
		<integer>111</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ф</key>
	<dict>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>172</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>SwitchToUppercase2</key>
	<dict>
		<key>x</key>
		<integer>898</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ъ</key>
	<dict>
		<key>x</key>
		<integer>817</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ю</key>
	<dict>
		<key>x</key>
		<integer>736</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>б</key>
	<dict>
		<key>x</key>
		<integer>655</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ь</key>
	<dict>
		<key>x</key>
		<integer>574</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>т</key>
	<dict>
		<key>x</key>
		<integer>493</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>и</key>
	<dict>
		<key>x</key>
		<integer>412</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>м</key>
	<dict>
		<key>x</key>
		<integer>331</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>с</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>ч</key>
	<dict>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>я</key>
	<dict>
		<key>x</key>
		<integer>88</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>258</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>74</integer>
	</dict>
</dict>
</plist>
