<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ө</key>
	<dict>
		<key>x</key>
		<integer>518</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ү</key>
	<dict>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>һ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>244</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>56</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>KeyboardSelection</key>
	<dict>
		<key>x</key>
		<integer>74</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>56</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>142</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>416</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Number2</key>
	<dict>
		<key>x</key>
		<integer>570</integer>
		<key>y</key>
		<integer>256</integer>
		<key>width</key>
		<integer>192</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>677</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>85</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>х</key>
	<dict>
		<key>x</key>
		<integer>616</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>з</key>
	<dict>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>щ</key>
	<dict>
		<key>x</key>
		<integer>494</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ш</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>г</key>
	<dict>
		<key>x</key>
		<integer>372</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>н</key>
	<dict>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>е</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>к</key>
	<dict>
		<key>x</key>
		<integer>189</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>у</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ц</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>й</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>694</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>68</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>э</key>
	<dict>
		<key>x</key>
		<integer>633</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ж</key>
	<dict>
		<key>x</key>
		<integer>572</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>д</key>
	<dict>
		<key>x</key>
		<integer>511</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>л</key>
	<dict>
		<key>x</key>
		<integer>450</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>о</key>
	<dict>
		<key>x</key>
		<integer>389</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>р</key>
	<dict>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>п</key>
	<dict>
		<key>x</key>
		<integer>267</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>а</key>
	<dict>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>в</key>
	<dict>
		<key>x</key>
		<integer>145</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ы</key>
	<dict>
		<key>x</key>
		<integer>84</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ф</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>128</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToUppercase2</key>
	<dict>
		<key>x</key>
		<integer>677</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>85</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ъ</key>
	<dict>
		<key>x</key>
		<integer>616</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ю</key>
	<dict>
		<key>x</key>
		<integer>555</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>б</key>
	<dict>
		<key>x</key>
		<integer>494</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ь</key>
	<dict>
		<key>x</key>
		<integer>433</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>т</key>
	<dict>
		<key>x</key>
		<integer>372</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>и</key>
	<dict>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>м</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>с</key>
	<dict>
		<key>x</key>
		<integer>189</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>ч</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>я</key>
	<dict>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>49</integer>
		<key>height</key>
		<integer>57</integer>
	</dict>
</dict>
</plist>
