<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ө</key>
	<dict>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ү</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Һ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>87</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>96</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>182</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>284</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>87</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Х</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>З</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Щ</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ш</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Г</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Н</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Е</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>К</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>У</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ц</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Й</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Э</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ж</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Д</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Л</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>О</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Р</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>П</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>А</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>В</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ы</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ф</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>SwitchToLowercase</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ю</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Б</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ь</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Т</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>И</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>М</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>С</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Ч</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Я</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
</dict>
</plist>
