<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ө</key>
	<dict>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ү</key>
	<dict>
		<key>x</key>
		<integer>128</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>һ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>119</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Number</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>87</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>96</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>182</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>284</integer>
		<key>y</key>
		<integer>222</integer>
		<key>width</key>
		<integer>87</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>х</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>з</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>щ</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ш</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>г</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>н</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>е</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>к</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>у</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ц</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>й</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>63</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>э</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ж</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>д</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>л</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>о</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>р</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>п</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>а</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>в</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ы</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ф</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>116</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>SwitchToUppercase</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ю</key>
	<dict>
		<key>x</key>
		<integer>309</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>б</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ь</key>
	<dict>
		<key>x</key>
		<integer>241</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>т</key>
	<dict>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>и</key>
	<dict>
		<key>x</key>
		<integer>173</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>м</key>
	<dict>
		<key>x</key>
		<integer>139</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>с</key>
	<dict>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>ч</key>
	<dict>
		<key>x</key>
		<integer>71</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>я</key>
	<dict>
		<key>x</key>
		<integer>37</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>343</integer>
		<key>y</key>
		<integer>169</integer>
		<key>width</key>
		<integer>28</integer>
		<key>height</key>
		<integer>42</integer>
	</dict>
</dict>
</plist>
