<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Letter</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>158</integer>
		<key>width</key>
		<integer>127</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>Space</key>
	<dict>
		<key>x</key>
		<integer>134</integer>
		<key>y</key>
		<integer>158</integer>
		<key>width</key>
		<integer>391</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>Return</key>
	<dict>
		<key>x</key>
		<integer>532</integer>
		<key>y</key>
		<integer>158</integer>
		<key>width</key>
		<integer>118</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>Backspace</key>
	<dict>
		<key>x</key>
		<integer>572</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>77</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>SwitchToSymbols</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>81</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>0</key>
	<dict>
		<key>x</key>
		<integer>588</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>x</key>
		<integer>523</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>x</key>
		<integer>458</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<integer>393</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<integer>263</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>x</key>
		<integer>198</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<integer>133</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<integer>68</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>44</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>&quot;</key>
	<dict>
		<key>x</key>
		<integer>588</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<integer>523</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>&amp;</key>
	<dict>
		<key>x</key>
		<integer>458</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>₽</key>
	<dict>
		<key>x</key>
		<integer>393</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<integer>263</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>;</key>
	<dict>
		<key>x</key>
		<integer>198</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<integer>133</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<integer>68</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>82</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>‘</key>
	<dict>
		<key>x</key>
		<integer>467</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>86</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<integer>376</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>86</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>?</key>
	<dict>
		<key>x</key>
		<integer>285</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>86</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>,</key>
	<dict>
		<key>x</key>
		<integer>194</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>86</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<integer>103</integer>
		<key>y</key>
		<integer>120</integer>
		<key>width</key>
		<integer>86</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
